{% extends 'base.html' %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-8">
      <h1>Reinitialisation du mot de passe</h1>
      <p class="text text-success">
	      Vous avez recu par mail, les insctructions pour reinialiser votre mot de passe si le compte existe avec le mail entré. 
	      Vous devriez recevoir le mail dans un instant.</p>
      <p class="text text-danger">
      	Si vous n'avez pas recu de mail, s'il vous plait verifiez que vous avez entré le mail lors de votre inscription et verifiez votre dossier spam.
      </p>
    </div>
  </div>
{% endblock %}